---
export interface Props {
	title: string;
}

const { title } = Astro.props;
const navLinks = [
  {
    name: "Blog",
    href: "/blog"
  },
  {
    name: "Uses",
    href: "/uses"
  }
]
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
    <div class="flex flex-col items-center h-screen">
      {/*<nav class="max-w-screen-lg w-full text-white h-16 flex items-center mt-5 justify-between px-5">
        <!-- brand -->
        <a href="/" class="h-full w-32 ml-5 flex items-center justify-center text-4xl">
          HashDot<span class="text-[#94E8B4]">.</span>
        </a>

        <ul class="flex space-x-5 text-xl mr-5">
         {navLinks.map(link => <li><a class="hover:text-[#94E8B4] transition" href={link.href}>{link.name}</a></li>)}
        </ul>
      </nav>*/}

      <div class="bg-neutral-900 h-3 w-full rounded-full max-w-screen-lg" />

      <main class="flex flex-col max-w-screen-lg w-full px-5">
        <slot />
      </main>
    </div>
	</body>
</html>

<style>
body {
  @apply bg-[#000505] text-neutral-100;
}
</style>
